
REACT_EDITOR=code #This is an example .env file. Copy this to .env and fill in the values.

# NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=https://apelike-chantal-theosophical.ngrok-free.dev 

# SSLCommerz Credentials
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password
SSLCOMMERZ_ENV=sandbox #or live
SSLCOMMERZ_IPN_ALLOWLIST=103.26.139.87,103.26.139.81,103.26.139.148   #Comma-separated list of allowed IP addresses for IPN requests (e.g., "203.0.113.1,203.0.113.2")

# database connection string (e.g., for PostgreSQL: postgres://user:password@localhost:5432/mydb)
DATABASE_URL=your_database_connection_string